<%- include('includes/header.ejs') -%>
    <title>API</title>
  </head>
  <body>
    <center>
      <h1>Dies ist die API der Immobilien-Webseite</h1>
      <img src="img/api.gif" alt="api.gif" />
    </center>
<%- include('includes/footer.ejs') %>